name: test2
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - run: echo ${{inputs.tags}}
      - run: |
          echo 1
          echo 2
          echo 3
          echo 4
